{{#leaflet-map center=center zoom=zoom}}
  {{!-- Specify child layer components here --}}
  {{tile-layer url="./img/maps/fmi/{z}/{y}_{x}.png" minZoom="3" maxZoom="7" }}
  
  {{#each model as |d|}}
    {{#marker-layer lat=d.location.lat lng=d.location.lng draggable=true onDragend=(action "updateLocation" d)}} 
      <h3>ID: {{d.id}}</h3>
      
      {{d.type}}
      
      {{rgb-slider}}
      
      {{#paper-button}}Button{{/paper-button}}
      
      {{paper-switch}}
    {{/marker-layer}}
  {{/each}}
{{/leaflet-map}}

<!--ul style="position: absolute;">
  {{#each model as |d|}}
  <li>{{d.id}} {{d.location}}</li>
  {{/each}}
</ul -->