{{#leaflet-map center=center zoom=zoom}}
  {{!-- Specify child layer components here --}}
  {{tile-layer url="/static/fmi/{z}/{y}_{x}.png" minZoom="3" maxZoom="7" }}
  
  {{#each model as |p|}}
    {{#marker-layer lat=p.center.lat lng=p.center.lng draggable=true onDragend=(action "updatePosition" p) icon=p.device.icon}} 
      <h3 title="{{p.device.type}}">{{p.device.name}} <!--[{{p.device.type}}]--></h3>
      
      {{component p.device.componentName c=p.device}}
      
    {{/marker-layer}}
  {{/each}}
{{/leaflet-map}}


<div style="position: fixed; bottom: 32px; right: 32px; z-index:100000;">
{{#paper-button classNames="md-fab md-fab-bottom-right" icon-button=true action="addPosition"}}{{paper-icon icon="add"}}{{/paper-button}}
</div>


<!-- ul style="position: relative;">
  Foobar {{rgb-slider}}
</ul -->