{{#leaflet-map center=center zoom=zoom}}
  {{!-- Specify child layer components here --}}
  {{tile-layer url="/static/fmi/{z}/{y}_{x}.png" minZoom="3" maxZoom="7" }}
  
  {{#each model as |p|}}
    {{#marker-layer lat=p.center.lat lng=p.center.lng draggable=true onDragend=(action "updatePosition" p) icon=p.icon}} 
      <h3 title="{{p.device.type}}">{{p.device.name}} <!--[{{p.device.type}}]--></h3>
      
      {{basic-composed c=p.device}}

    {{/marker-layer}}
  {{/each}}
{{/leaflet-map}}

<!-- ul style="position: relative;">
  Foobar {{rgb-slider}}
</ul -->