{{#leaflet-map center=center zoom=zoom}}
  {{!-- Specify child layer components here --}}
  {{tile-layer url="/static/fmi/{z}/{y}_{x}.png" minZoom="3" maxZoom="7" }}
  
  {{#each model as |p|}}
    {{#marker-layer lat=p.center.lat lng=p.center.lng draggable=true onDragend=(action "updatePosition" p) icon=p.device.icon}} 
      {{#popup-layer}}
        {{#if p.device}}
          <h3 title="{{p.device.type}}">{{p.device.name}} <!--[{{p.device.type}}]--></h3>
          {{component p.device.componentName c=p.device}}
        {{else}}
          
          {{#paper-select on-open=loadDevicesWithoutLocation on-load=openSelect item-label-callback=labelCallback placeholder="device" model=p.device onChange=(action "setDevice" p) as |items|}}
            {{#each items as |item|}}
              {{#paper-option value=item}}
                {{item.name}}
              {{/paper-option}}
            {{/each}}
          {{/paper-select}}
          
          
        {{/if}}
      {{/popup-layer}}
      
    {{/marker-layer}}
  {{/each}}
{{/leaflet-map}}


<div class="md-fab-bottom-right">
{{#paper-button classNames="md-fab" icon-button=true action="addPosition"}}{{paper-icon icon="add"}}{{/paper-button}}
</div>
